@font-face {
  font-family: "Mario";
  src: url("./MarioFont.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mario', sans-serif;
  color: #fff;
  background-color: #090909;
  text-shadow: 2px 2px #090909;
  display: grid;
  place-items: center;
  height: 100vh;
  line-height: 1.5;
}

.game {
  max-width: 440px;
  display: grid;
  align-items: center;
  gap: 50px;
  padding: 75px 25px;
  background: url("images/bg.jpg");
  background-size: cover;
  text-align: center;
}
